.hero-section {
    display: flex;
    flex-direction: row-reverse;
    margin: 0 170px 130px 170px;
}

.hero-text {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    max-width: 100%;
    max-height: 100%;
}

.hero-text a {
    text-decoration: none;
    font-size: 17px;
}

.hero-text span, p {
    color: #6B708D;
    font-size: 17px;
}

.hero-image {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.hero-img {
    max-width: 570px;
    max-height: 637px;
}

.card-1 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 190px;
    max-height: 216px;
}

.card-2 {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 190px;
    max-height: 216px;
}

.hero-image-ctas {
    display: flex;
    justify-content: left;
    align-items: baseline;
    padding-right: 40px;
}

.logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 1;
    height: 100px;
    margin: 0px 170px 200px 170px;
    filter: grayscale(100%);
}

.logo {
    width: 150px;
    height: 96px;;
}

.projects-section {
    display: flex;
    flex-direction: column;
    max-height: 561px;
    padding: 0 170px 200px 170px;
}

.projects-section h3 {
    margin-bottom: 70px;
}

.projects-section div {
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding: 0;
}

.project-card {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    text-align: left;
    border: none;
    box-sizing: border-box;
    box-shadow: 1px 1px 10px #6B708D;
    max-width: 340px;
    max-height: 100%;
    margin-right: 40px;
    margin-bottom: 200px;
}

.project-card:last-child {
    margin-right: 0px;
}

.project-card h5, h6 {
    padding-left: 30px;
    padding-bottom: 0%;
}

.project-card h6 {
    color: #6B708D;
}

.project-card img {
    width: 100%;
    height: 50%;
}

.project-card a {
    color: #072AC8;
    text-decoration: none;
}

.testimonial-section {
    background: url(./assets/testimonial-section/orbit.png) #292E47;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 622px;
    text-align: center;
    margin: 0 60px 200px 60px;
    padding: 50px 70px 30px 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.testimonial-row-1 {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.testimonial-row-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonial-row-3 {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.testimonial-row-1 img,
.testimonial-row-3 img {
    width: 150px;
    height: 150px;
}

.testimonial-review {
    color: #FFC600;
    text-align: center;
    line-height: 160%;
}

.testimonial-text {
    width: 200px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.testimonial-name {
    color: #A2D6F9;
    margin-bottom: 5px;
}

.testimonial-workplace {
    color:#ffffff;
    font-size: 13px;
}

.profile-picture {
    display: flex;
    justify-content: space-between;
    width: 201px;
    height: 50px;
}

.profile-picture img {
    display: flex;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.services-section {
    padding: 0 170px 200px 170px;
    display: flex;
    flex-direction: column;
    max-height: 561px;
}

.services-section h3 {
    margin-bottom: 70px;
}

.services-section div {
    display: flex;
    flex-direction: space-between;
    justify-content: stretch;
    text-align: left;
    padding: 10px 30px 30px;
}

.services-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #ffffff;
    text-align: left;
    border: none;
    box-sizing: border-box;
    box-shadow: 1px 1px 10px #6B708D;
    width: 340px;
    height: 380px;
    margin-right: 40px;
    margin-bottom: 200px;
}

.services-card:last-child {
    margin-right: 0;
}

.services-card h5, h6, p {
    padding: 0 30px 0;
    line-height: normal;
}

.services-card img {
    background-color: #ECF7FF;
    background-size: cover;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 20px;
    margin: 30px;
}

.services-card a {
    color: #072AC8;
    text-decoration: none;
}

@media only screen and (min-width: 1200px) {
    
}
  
/*mobile screen*/

@media only screen and (min-width: 400px) and (max-width: 767px) {
    .hero-section {
        display: flex;
        flex-direction: column;
        margin: 0 85px 65px 85px;
    }

    .hero-image-ctas {
        font-size: 15px;
    }
    
    .main-project {
        margin: 20px 85px 35px 85px;
    }
    
    .main-project h1 {
        margin-bottom: 5px;
    }
    
    .main-project-title {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;
    }
    
    .project-content img {
        height: 222px;
    }
    .projects-section {
        margin: 0 85px 100px 85px;
    }
    
    .projects-section h3 {
        margin-bottom: 35px;
    }
    
    .projects-section div {
        display: flex;
        flex-direction: column;
    }
    
    .project-card {
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        text-align: left;
        border: none;
        box-sizing: border-box;
        box-shadow: 1px 1px 10px #6B708D;
        max-width: 340px;
        margin-bottom: 40px;

}

/*tablet screen*/

@media only screen and (min-width: 768px) and (max-width: 1100px) {
    .main-project {
        margin: 30px 105px 45px 105px;
    }
    
    .main-project h1 {
        margin-bottom: 10px;
    }
    
    .main-project-title {
        margin-bottom: 40px;
    }
    
    .project-content img {
        height: 333px;
    }

        }
    .projects-section {
        margin: 0 100px 120px 100px;
    }
    
    .projects-section h3 {
        margin-bottom: 35px;
    }
    
    .projects-section div {
        display: flex;
        flex-direction: space-between;
    }
    
    .project-card {
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        text-align: left;
        border: none;
        box-sizing: border-box;
        box-shadow: 1px 1px 10px #6B708D;
        max-width: 340px;
        margin-bottom: 40px;
    }
}
