.hero-section {
    display: grid;
    grid-template-columns: 720px 650x;
    position: relative;
    padding-bottom: 100px;
}

.hero-text {
    grid-column: 1;
}

.hero-image {
    background-image: url(./assets/hero-section/hero-image.png);
    background-repeat: no-repeat;
    background-size: 570px 650px;
    grid-column: 2;
    position: absolute;
}

.card-1 {
    top: 0;
    left:0;
}

.card-2 {
    bottom: 0;
    right: 0;
}

.logos {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 1;
    visibility: inherit;
    padding: 100px 20px;
    filter: grayscale(100%);
}

.projects-section > div {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.project-card {
    text-align: left;
    border: 2px, solid, #ffffff;
    box-sizing: border-box;
    box-shadow: 2px 2px 10px 0 #ffffff;
}

.project-card img {
    width: 340px;
    height: 240px;
}

.testimonial-section {
    background-color: #292E47;
    width: 1320px;
    height: 622px;
    text-align: center;
    padding: 20px;
    position: relative;
}

.icon {
    position: absolute;
    width: 150px;
    height: 150px;
}

.memoji-1 {
    top: 0;
    left: 0;
}

.memoji-2 {
    top: 0;
    right: 0;
}

.memoji-3 {
    bottom: 0;
    left: 0;
}
  
.memoji-4 {
    bottom: 0;
    right: 0;
}

.testimonial-background {
    width: 1320px;
    height: 622px;
}
  
.testimonial-text,
.testimonial-workplace {
    color: #ffffff;
    text-decoration: none;
    position: absolute;
}

.testimonial-name {
    color: #A2D6F9;
    position: absolute;
}

.testimonial-review {
    color: #FFC600;
    position: absolute;
}

.profile-picture img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
}

@media only screen and (min-width: 1200px) {
    
}
  
@media only screen and (min-width: 768px) and (max-width: 1199px) {

}
  
@media only screen and (max-width: 767px) {
    
}