.form {
    margin: auto;
    width: 250px;
    height: 350px;
    border-width: 2px;
    padding: 20px 10px 30px 20px;
    position : relative;
    align: center;
}

label {
    float: left;
    width: 250px;
    margin-bottom: 5px;
    margin-top: 5px;
}

#first-name-input, #email-input, #phone-input, #message-input {
    float: left;
    width: 200px;
}

button {
    text-align: center;
    border-width: 0px;
    float: left;
    width: 60px;
    margin: auto;
    padding: 6px 6px;
}