.form {
    display: flex;
    flex-direction: column;
    margin: 110px;
    max-width: 1440px;
    height: 830px;
}

.form label {
    float: left;
    width: 440px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.form [type="text"],
.form [type="email"],
.form [type="phone"],
.form textarea {
    padding: 10px;
    margin-bottom: 20px;
    background-color: #6B708D 0.1;
    float: left;
    width: 100%;
}

.form input[type="submit"] {
    background-color: #072AC8;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    max-width: auto;
}

.form button {
    text-align: center;
    border-width: 0px;
    float: left;
    width: 60px;
    margin: auto;
    padding: 6px 6px;
}  
  
@media screen and (max-width: 768px) {
    .form {
        display: flex;
        flex-direction: column;
        margin: 110px;
        max-width: 250px;
        height: 350px;
        border-width: 2px;
    }
}